.App {
  text-align: center;
  height: 100vh;
  background-color: #fafbfc;

}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table-responsive{

 margin-top: 20px;
}



#login-form-container {
  background-color: #fafbfc;

  overflow: auto;


}

.report-table-wrapper{
  background-color: #fafbfc;
  
}


.form-control{
  background-color: #fafbfc;
}

.form-label{
  float: left;
}

.buttons {
  background-color: #0076bd;
  border-color: #0076bd;
}

.job-detail-card {
  width: 70%;
  margin: auto;
  margin-top: 20px;

}

#from-date-input{
  width: 100%;
}

#to-date-input{
  width: 100%;
}

.cutout {
  height: 200px;
  background-color: #212d65;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 90%);
}

.jobs-heading-container {
  background-color: #212d65;
  /* width:110%; */
  /* background-image: url(/src/assets/cascade_logo.png); */

  height: 150px;
  color: white;

  overflow: auto;
  /* border-bottom-left-radius: 60% 45%;
  border-bottom-right-radius: 60% 45%; */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);

}

.jobs-heading-div {
  margin-top: 20px;
  max-width: 90%;

}

#footer-logo-wrapper {
  height: 100%;
  position: relative;
}

#footer-logo {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.jobs-heading {
  transform: scale(0.8);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);

}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}


.jobs-arrowcircle {
  color: #0076bd;

  /* font-size: 40px;
  position: absolute;
  top: 25%;
  right: 5%; */

}

.report {
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border: 0.1px solid #0076bd;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  margin: auto;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.date-caution {
  float: left;
  border: 1px solid black;
  background-color: white;
  font-size: x-small;
}

.table {
  background-color: white;
  width: 90%;
  margin: auto;
}

.job-list {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.job-list-container {
  overflow: auto;
  background-color: #fafbfc;
  height: 100%;
}

#login-form {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

input[type=text],
input[type=password],
textarea,
input[type=email],
input[type=date],
select {
  width: 70%;
  margin: auto;
}





@media (max-width: 700px) {
  #login-form {
    width: 90%;

  }

  .job-list {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .job-detail-card {
    width: 90%;
    margin: auto;
    margin-top: 20px;

  }

  .report {
    width: 90%;
    margin: auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}